.divider {
  border: none;
  background: var(--color-border);
}
.divider--horizontal {
  height: var(--border-width-thin);
  width: 100%;
}
.divider--vertical {
  width: var(--border-width-thin);
  height: 100%;
  align-self: stretch;
}